# Android
build/
.gradle/
local.properties
Captures/
.externalNativeBuild
.cxx
*.apk
*.aar

# IDE - IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
cmake-build-*/
out/

# System
.DS_Store
Thumbs.db
.artifacts/

# CMake / Native
**/.cxx/
**/build/
**/cmake-build-*/
